<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{import :: head}"></head>
<body style="background-color: #efefef">
<div th:insert="~{nav :: nav}"></div>
<div class="container-fluid" style="margin: 30px;background-color:white">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>发起</h2>
            <hr>
            <form action="/publish" method="post">
                <div class="form-group">
                    <label for="title">问题标题：</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="问题标题....." th:value="${title}">
                </div>
                <div class="form-group">
                    <label for="description">问题补充（必填，请参照右侧提示）：</label>
                    <textarea name="description" id="description" class="form-control" cols="30" rows="10" th:text="${description}"></textarea>
                </div>
                <div class="form-group">
                    <label for="tag">添加标签:</label>
                    <input type="text" class="form-control" id="tag" name="tag" placeholder="输入标签，以，分隔" th:value="${tag}">
                </div>
                <span style="color: red" th:text="${error}"></span>
                <button type="submit" class="btn btn-success" style="float:right;margin-bottom:15px">发布</button>
            </form>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>问题发起指南</h3><br><br>
            · 问题标题: 请用精简的语言描述你发布的问题，不超过25字<br><br>
            · 问题补充: 详述补充您的问题内容，为确保问题描述清晰直观，并提供一些相关资料：<br><br>
            · 选择标签：选择一个或多个标签，字数不超过10个字<br>
        </div>
    </div>
</div>
</body>
</html>